<div id="<%= dom_id devis %>">
  <p>
    <strong>Titre:</strong>
    <%= devis.titre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= devis.description %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= devis.statut %>
  </p>

</div>
