<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <h2>Nouveau template d'email</h2>
        </div>
        <div class="card-body">
          <%= render 'form', email_template: @email_template %>
        </div>
      </div>
    </div>
  </div>
</div>